<form [formGroup]="cadastroForm" (ngSubmit)="enviarDados()">
    <input formControlName="nome" placeholder="Nome" required />
    <input formControlName="email" placeholder="Email" type="email" required />
    <input formControlName="telefone" placeholder="Telefone" required />
    <select formControlName="sexo">
      <option value="">Selecione o sexo</option>
      <option value="Masculino">Masculino</option>
      <option value="Feminino">Feminino</option>
    </select>
    <input formControlName="dataNascimento" type="date" required />
    <input formControlName="profissao" placeholder="Profissão" required />
    <input formControlName="estadoCivil" placeholder="Estado Civil" required />
    <input formControlName="endereco" placeholder="Endereço" required />
  
    <button type="submit" [disabled]="cadastroForm.invalid">Cadastrar</button>
  </form>
  